<html>
    <head>
        <title>felwip's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">felwip's blog</a></h1>
        </div>

        <div>
            <h2><a href="">kick off</a></h2>
            <h4>published: 20.11.2019 - 20:25 - </h4>
            <p>buongiorno a tutti amici<br>
            Now I am finally getting started. After a couple of tries with different online tutrorials to learn code, 
            I am now getting a hang with it via <a href="https://tutorial.djangogirls.org/en/">Djangogirls.</a> 
            Even though I ain't no girl, the tutorial totally suits my intentions</p>
        </div>

        <div>
            <h2><a href="">about</a></h2>
            <p>What is this all about?<br>
            I will tell you in a minute. First I want to give some Info's about the background. Never a true techie
            I am still quite interested in technologie, computers, gaming and... languages. So I came to  try out 
            coding languages. Let's see together, where it will take me. If you are keen to take part in my journey, 
            feel free to connect with me. Maybe we can work together on projects or just exchange experiences. In 
            this case <em>leave a message</em>
            </p>
        </div>
    
    
    </body>

</html>